<% var = params[:category] || :total %>
<div id="ongoing"></div>
<script>
var bands = [];
for ( i=0; i<10; i++ ) {
  bands[i] = {
    color: 'rgba(68, 170, 213, .2)',
    from: (4.5 + (i * 12)),
    to: (7.5 + (i * 12))
  }
}
$(function () {
  $('#ongoing').highcharts({
    title: {
      text: '<%= var.capitalize %> <%= title %> Over Time'
    },
    xAxis: {
      categories: [
        <% data.each do |d| %>
          '<%= d.year %> <%= Date::ABBR_MONTHNAMES[d.month] %>',
        <% end %>
      ],
      plotBands: bands,
      labels: {
        staggerLines: 1,
        step: 6
      },
      type: 'datetime'
    },
    yAxis: {
      title: {
        text: '<%= title %>'
      },
      labels: {
        formatter: function() {
          return this.value;
        }
      }
    },
    series: [
        {
          name: 'Totals',
          data: [
            <% data.each do |d| %>
              <%= d[var] %>,
            <% end %>
          ]
      },
    ]
  });
});
</script>
