<% var = params[:category] || :total %>
<div id="ongoing"></div>
<script>
$(function () {
  $('#ongoing').highcharts({
    title: {
      text: '<%= var.capitalize %> <%= title %> Over Time'
    },
    xAxis: {
      categories: [
        <% data.each do |d| %>
          '<%= d.year %> <%= Date::ABBR_MONTHNAMES[d.month] %>',
        <% end %>
      ],
      plotBands: [{
        from: -0.5,
        to: 8.5,
        color: 'rgba(68, 170, 213, .2)'
      },{
        from: 16.5,
        to: 39.5,
        color: 'rgba(68, 170, 213, .2)'
      },
      {
        from: 55.5,
        to: 200,
        color: 'rgba(68, 170, 213, .2)'
      }],
      labels: {
        staggerLines: 2,
        step: 2
      }
    },
    yAxis: {
      title: {
        text: '<%= title %>'
      },
      labels: {
        formatter: function() {
          return this.value;
        }
      }
    },
    series: [
        {
          name: 'Totals',
          data: [
            <% data.each do |d| %>
              <%= d[var] %>,
            <% end %>
          ]
      },
    ]
  });
});
</script>
