<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <%= render :partial => "shared/category", :locals => { :title => "Enrollments", :data => @enrollments } %>
      <%= render :partial => "shared/timeframe" %>
      <%= render :partial => "shared/monthly", :locals => { :title => "Enrollments", :data => @enrollments } %>
      <%= render :partial => "shared/ongoing", :locals => { :title => "Enrollments", :data => @enrollments } %>
      <div id="monthlyrpe"></div>
    </div>
      <div class="col-sm-6">
        <%= render :partial => "shared/average", :locals => { :title => "Enrollments", :data => @enrollments } %>
      </div>
      <div class="col-sm-6">
        <div id="rpe"></div>
      </div>
  </div>
</div>
<script>
$(function () {
  $('#monthlyrpe').highcharts({
    title: {
      text: 'Monthly Revenue per Enrollment'
    },
    xAxis: {
      categories: [
        <% @enrollments.each do |enrollment| %>
          '<%= enrollment.year %> <%= Date::ABBR_MONTHNAMES[enrollment.month] %>',
        <% end %>
      ],
      labels: {
        staggerLines: 2,
        step: 2
      }
    },
    yAxis: {
      title: {
        text: 'Revenue per Enrollment'
      },
      labels: {
        formatter: function() {
          return this.value;
        }
      }
    },
    series: [
        {
          name: 'Totals',
          data: [
            <% @enrollments.each_with_index do |enrollment, i| %>
              <%= @revenues[i][params[:category] || :total]/enrollment[params[:category] || :total] %>,
            <% end %>
          ]
      },
    ]
  });
  $('#rpe').highcharts({
    chart: {
      type: 'column'
    },
    title: {
      text: 'Revenue per Enrollment'
    },
    xAxis: {
      categories: [
        'Annual'
      ]
    },
    yAxis: {
      title: {
        text: 'Revenue per Enrollment'
      },
      labels: {
        formatter: function() {
          return this.value;
        }
      }
    },
    tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
    series: [
      <% @years.each do |year| %>
        {
          name: <%= year.year %>,
          data: [
            <%= @revenues.year(year.year).sum(params[:category] || :total)/@enrollments.year(year.year).average(params[:category] || :total) %>
          ]
      },
      <% end %>
    ]
  });
});
</script>
