<% var = 'total' %>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9">
      <div id="monthly"></div>
    </div>
    <div class="col-sm-3">
      <div id="total"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12"></div>
  </div>
</div>
<script>
$(function () {
  $('#monthly').highcharts({
    chart: {
      type: 'column'
    },
    title: {
      text: 'Monthly <%= var.capitalize %> Revenue'
    },
    xAxis: {
      categories: [
        <% @revenues.select(:month).distinct.each do |revenue| %>
          '<%= Date::MONTHNAMES[revenue.month] %>',
        <% end %>
      ]
    },
    yAxis: {
      title: {
        text: 'Revenue'
      },
      labels: {
        formatter: function() {
          return this.value;
        }
      }
    },
    tooltip: {
      formatter: function() {
        return '<b>'+ this.series.name +'</b><br/>'+
        this.x +': '+ this.y;
      }
    },
    series: [
      <% @years.each do |year| %>
        {
          name: <%= year.year %>,
          data: [
            <% @revenues.year(year.year).each do |revenue| %>
              <%= revenue[var] %>,
            <% end %>
          ]
      },
      <% end %>
    ]
  });
  $('#total').highcharts({
    chart: {
      type: 'column'
    },
    title: {
      text: 'Annual <%= var.capitalize %> Revenue'
    },
    xAxis: {
      categories: [
        'Annual'
      ]
    },
    yAxis: {
      title: {
        text: 'Revenue'
      },
      labels: {
        formatter: function() {
          return this.value;
        }
      }
    },
    tooltip: {
      formatter: function() {
        return '<b>'+ this.series.name +'</b><br/>'+
        this.x +': '+ this.y;
      }
    },
    series: [
      <% @years.each do |year| %>
        {
          name: <%= year.year %>,
          data: [
            <%= @revenues.year(year.year).sum(var) %>
          ]
      },
      <% end %>
    ]
  });
});
</script>