<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <%= render :partial => "shared/category", :locals => { :title => "Revenue", :data => @revenues } %>
      <%= render :partial => "shared/timeframe" %>
      <%= render :partial => "shared/monthly", :locals => { :title => "Revenue", :data => @revenues } %>
    </div>
      <div class="col-sm-6">
        <%= render :partial => "shared/annual", :locals => { :title => "Revenue", :data => @revenues } %>
      </div>
      <div class="col-sm-6">
        <%= render :partial => "shared/average", :locals => { :title => "Revenue", :data => @revenues } %>
      </div>
  </div>
</div>

