<!DOCTYPE html>
<html>
<head>
  <title>TLGWA Monthly <%= params[:controller].capitalize %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <nav>
    <p class="nav-header">TLG West Ashley</p>
    <ul>
      <li <%= active_page("revenue") %>><%= link_to "Revenue", revenue_index_url %></li>
      <li <%= active_page("expenses") %>><%= link_to "Expenses", expenses_url %></li>
      <li <%= active_page("net") %>><%= link_to "Net", net_index_url %></li>
      <li <%= active_page("enrollments") %>><%= link_to "Enrollments", enrollments_url %></li>
    </ul>
  </nav>
</header>
<%= yield %>

</body>
</html>
