<!DOCTYPE html>
<html>
<head>
  <title>TLGWA Monthly <%= params[:controller].capitalize %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <nav>
    <p class="nav-header">TLG West Ashley</p>
    <ul>
      <li><a <%= active_page("revenue") %> href="revenue">Revenue</a></li>
      <li><a <%= active_page("expenses") %> href="expenses">Expenses</a></li>
      <li><a <%= active_page("net") %> href="net">Net</a></li>
      <li><a <%= active_page("enrollments") %> href="enrollments">Enrollments</a></li>
    </ul>
  </nav>
</header>
<%= yield %>

</body>
</html>
